@charset "UTF-8";
table, td , th {
	  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,th{
	border-bottom:1px solid;
	padding:15px;
	
}

.serachicondiv{
	font-size: 18px; 
	padding: 8px;
}
.statuscardsicons{
	color: white; 
	text-align: center; 
	height: 40px;
	width: 40px;
	
}

.cpudiv{
	background-color: #dc3545;
}

.statuscardsiconslast{
	color: black; 
	text-align: center; 
	height: 40px;
	width: 40px;
	
}

.chatbody{
	box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
}

.chatbody-header{
	display: grid; 
	grid-template-columns: auto auto; 
	background-color: white;
}

.chatcardtitle{
	grid-column-start: 1; 
	grid-column-end: 2;
}

.chattoptools{
	text-align: right;
	
}
.direct-chat-messages{
	max-height: 250px;
	overflow-y: scroll;
}

.rightmost{
	float: right;
	
}

.leftmost{
	float: left;
}

.msg-body-recieved{
	background-color: #96a2ad; 
	border: 1px solid #96a2ad;
	
}

.msg-body-sent{
	border: 1px solid #ffc107;
	background-color: #ffc107;
}

.msg-sent-btn{
	background-color: #ffc107;
}

.memberscard{
	box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
}
.memebercardheader{
	display: grid; 
	grid-template-columns: auto auto; 
	background-color: white;
}

.membercardtitle{
	grid-column-start: 1; 
	grid-column-end: 2;
}
.cardtools{
	text-align: right;
}
.recentlyaddedcarddiv{
	text-align: center;
	max-width: 100px;
}

.productimg{
	padding-top: 12px;
	padding-bottom: 12px;
}

.sidecardsdiv{
	box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2); 
	display: flex; 
	min-height: 80px; 
	border: 1px solid rgba(0, 0, 0, .125); 
	border-radius: 5px; 
	margin-bottom: 10px; 
	margin-top: 10px; 
	position: reltaive; 
	width: 100%"
}

.inventorycolordiv{
	display: flex; 
	justify-content: center; 
	text-align: center;
	 width: 80px; 
	font-size: 30px; 
	padding-top: 20px; 
	background-color: #ffc107;
}

.inventoryicon{
	text-align: center; 
	height: 40px; 
	width: 40px;
}

.inventorycontent{
	display: flex; 
	flex-direction: column; 
	flex: 1; 
	padding: 5px 10px; 
	overflow: hidden; 
	background-color: #ffc107; 
	align-items: left;
}

.mentionscolordiv{
	display: flex; 
	justify-content: center; 
	text-align: center; 
	width: 80px; 
	font-size: 30px; 
	padding-top: 20px; 
	background-color: #28a745;
}

.mentionsicon{
	color: white; 
	text-align: center; 
	height: 30px; 
	width: 30px;
}

.mentionscontent{
	display: flex;
	flex-direction: column; 
	flex: 1; 
	padding: 5px 10px; 
	overflow: hidden; 
	background-color: #28a745; 
	align-items: left;
}

.downloadscolordiv{
	display: flex;
	justify-content: center;
	 text-align: center; 
	 width: 80px; 
	 font-size: 30px; 
	 padding-top: 20px; 
	 background-color: #dc3545;
}

.downloadsicon{
	color: white; 
	text-align: center; 
	height: 30px; 
	width: 30px;
}

.downloadcontentdiv{
    display: flex; 
    flex-direction: column; 
    flex: 1; 
    padding: 5px 10px; 
    overflow: hidden; 
    background-color: #dc3545; 
    align-items: left;
}

.directmsgdiv{
	display: flex; 
	justify-content: center; 
	text-align: center; 
	width: 80px; 
	font-size: 30px; 
	padding-top: 20px; 
	background-color: #17a2b8;
	
}

.directmsgicon{
	color: white; 
	text-align: center; 
	height: 30px; 
	width: 30px;
}

.directmsgcontent{
	display: flex; 
	flex-direction: column; 
	flex: 1; 
	padding: 5px 10px; 
	overflow: hidden; 
	background-color: #17a2b8; 
	align-items: left;
}

.tablediv{
	box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
}
.tableheading{
	background-color: white; 
	font-size: 22px;
}
.tablebodydiv{
	display: block;
	 margin-bottom: 0px; 
	 width: 100%; 
	 overflow-x: auto;
	
}
.viewallbutton{
	text-decoration: none;
}

.progresbarheight{
	height: 25px;
}
.progresvalue1{
	width: 25%;
}

.progresvalue2{
	width: 50%;
}
.progresvalue3{
	width: 75%;
}
.progresvalue4{
	width: 100%;
}
.recentlyaddedbox{
	box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
	border-top-color: rgb(0, 110, 255); 
	border-top: 15x;
}
.recentlyaddedheaer{
	display: grid; 
	grid-template-columns: auto auto; 
	background-color: white;
}
.recentlyaddedcardtitle{
	grid-column-start: 1;
	grid-column-end: 2;
}

.membersviewallbtn{
	text-align:center; 
	border-top:1px solid rgba(0, 0, 0, .125);
}
.headerrow{
	margin-top: 55px;
}

.content-wrapper{
	min-height: 875px
}
.dashbardheader{
	list-style-type: none; 
	margin: 10px;
	padding: 10px;
	
}
.searchbar{ 
	background-color: #3f474e;
}

.topcard{
	display: flex; 
	min-height: 80px; 
	box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2); 
	margin-bottom: 10px; border: 1px solid rgba(0, 0, 0, .125); 
	border-radius: 5px; 
	position: reltaive; 
	width: 100%
}

.topcard-text{
	display: flex; 
	flex-direction: column; 
	flex: 1; 
	padding: 5px 10px; 
	overflow: hidden;
	 align-items: left;
}

.topcard-first {
	display: flex; 
	justify-content: center; 
	text-align: center; 
	width: 80px; 
	font-size: 30px; 
	padding-top: 20px; 
	background-color: #17a2b8;
}

.topcard-second {
	display: flex; 
	justify-content: center; 
	text-align: center; 
	width: 80px; 
	font-size: 30px; 
	padding-top: 20px; 
background-color: #dc3545;
}

.topcard-third {
	display: flex; 
	justify-content: center; 
	text-align: center; 
	width: 80px; 
	font-size: 30px; 
	padding-top: 20px; 
	background-color: #28a745;
}

.topcard-fourth{
	display: flex; 
	justify-content: center; 
	text-align: center; 
	width: 80px; 
	font-size: 30px; 
	padding-top: 20px; 
	background-color: #ffc107;
}

.imgcontainer{
	display: grid;
    grid-template-columns:25% 25% 25% 25%; 
    gap: 5px; 
	overflow:hidden;
}

.card-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px; 
}


.imgdiv{
	width: 100%; 
	height:auto;
	float: left; 
	text-align:center;
	padding: 5px;
}

.icongrid{
  display: grid;
  grid-template-columns:8px 8px 8px 8px 8px 8px;
}


.myiconredbg{
	height:18px;
	width:6px;
	background-color:red;
	margin:2px;
	padding:4px;
}

.myiconredsm{
	height:12px;
	width:6px;
	background-color:red;
	margin:2px;
	padding:2px;
}

.myicongreen{
	height:12px;
	width:6px;
	background-color:green;
	margin:2px;
	padding:2px;
}

.myiconorange{
	height:12px;
	width:6px;
	background-color:orange;
	margin:2px;
	padding:2px;
}

.myiconblue{
	height:12px;
	width:6px;
	background-color:#0dcaf0;
	margin:2px;
	padding:2px;
}

.myicongreenin{
	height:12px;
	width:6px;
	background-color:green;
	margin:4px;
	padding:4px;
}

.myicongreenbg{
	height:14px;
	width:6px;
	background-color:green;
	margin:2px;
	padding:2px;
}

.myiconorangebg{
	height:14px;
	width:6px;
	background-color:orange;
	margin:2px;
	padding:2px;
}
.myiconbluebg{
	height:14px;
	width:6px;
	background-color:#0dcaf0;
	margin:2px;
	padding:2px;
}
.viewproductbtn{
	text-decoration: none;
}
#icons{
	color:white; 
	font-size:24px; 
	margin:10px; 
	padding:10px;
}
.sidebar {
	width: 250px;
	background-color: #343a40;
	position: fixed;
	top: 56px;
	left: -250px;
	height: 100vh;
	padding-top: 1rem;
	z-index: 1040;
	transition: left 0.3s ease-in-out;
}

.sidebar.show {
	left: 0;
}

.content {
	margin-left: 0;
	transition: margin-left 0.3s ease-in-out;
}

.content.shifted {
	margin-left: 250px;
}

@media ( max-width : 768px) {
	.sidebar {
		top: 56px;
	}
}


