@charset "UTF-8";
table, td , th {
	  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,th{
	border-bottom:1px solid;
	padding:15px;
	
}

.icongrid{
  display: grid;
  grid-template-columns:8px 8px 8px;
}

.myiconredbg{
	height:18px;
	width:6px;
	background-color:red;
	margin:2px;
	padding:2px;
}

.myiconredsm{
	height:12px;
	width:6px;
	background-color:red;
	margin:2px;
	padding:2px;
}

.myicongreen{
	height:12px;
	width:6px;
	background-color:green;
	margin:2px;
	padding:2px;
}

.myicongreenbg{
	height:14px;
	width:6px;
	background-color:green;
	margin:2px;
	padding:2px;
}


.sidebar {
	width: 250px;
	background-color: #343a40;
	position: fixed;
	top: 56px;
	left: -250px;
	height: 100vh;
	padding-top: 1rem;
	z-index: 1040;
	transition: left 0.3s ease-in-out;
}

.sidebar.show {
	left: 0;
}

.content {
	margin-left: 0;
	transition: margin-left 0.3s ease-in-out;
}

.content.shifted {
	margin-left: 250px;
}

@media ( max-width : 768px) {
	.sidebar {
		top: 56px;
	}
}



								
								
						
										

					
